.serviceContent {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  text-align: center;

  color: #333333;
}
.serviceDescription {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  padding-bottom: 15px;
  color: #333333;
}
.imgRight {
  height: 218px;
  margin-top: 10px;
}
